<a href="https://colab.research.google.com/github/Zahab163/ApexcifyTechnologys_BasicStats/blob/main/BasicStats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Descriptive Statistics on California Housing Dataset

Task : Basic Descriptive Statistics on Data Set
Objective:
- Load any small Dataset
_ Calculate descriptive statistics : mean,median min ,max standard deviation .
- Tools : Python, Pandas
- Key Concept : describe(), mean(), std(), min() , max()
- I took this dataset from colab 's sample_data folder

In [3]:
import pandas as pd
import numpy as np

# Load dataset directly from Colab sample_data
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [4]:
# Preview first rows
print("Dataset Preview:")
df.head()

Dataset Preview:

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [5]:
# Descriptive statistics using describe()
print("\nDescriptive Statistics:")
print(df.describe())

Descriptive Statistics:
          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

### Calculate specific statistics for one column (e.g., median_income)

In [6]:
# Find mean
print("\nMean of median_income:", df["median_income"].mean())

Mean of median_income: 3.8835781000000007

In [7]:
# Find median
print("Median of median_income:", df["median_income"].median())

Median of median_income: 3.5446

In [8]:
# Find Min
print("Minimum of median_income:", df["median_income"].min())

Minimum of median_income: 0.4999

In [9]:
#Find Max
print("Maximum of median_income:", df["median_income"].max())

Maximum of median_income: 15.0001

In [10]:
# Find Standard Deviation
print("Standard Deviation of median_income:", df["median_income"].std())

Standard Deviation of median_income: 1.908156518379093

##Key Concepts
- read_csv() → load dataset.
- describe() → quick overview of all numeric columns.
- mean(), median(), min(), max(), std() → specific descriptive statistics

In this notebook, I explored the California Housing dataset and applied basic descriptive statistics using Pandas.
* By calculating measures like mean, median, minimum, maximum, and standard deviation,  
* I showed how quickly we can summarize and understand the distribution of data.
* I focused on the median_income column because income is a key factor in housing affordability and often drives patterns in housing prices.

* We check statistics to get a quick overview of the dataset, spot trends, and identify anomalies. Descriptive statistics help us understand the central tendency, variation, and range of values before moving into deeper analysis or modeling.

This task demonstrates my ability to load real datasets, apply statistical functions, and present insights clearly — skills I am preparing to showcase in my internship application